link:hover {
  color: #00303a;
  font-weight: 400;
  letter-spacing: 2px;
}

.container-fluid {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  padding-top: 1em;
  padding-bottom: 1em;
}

.hov {
  transition: 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #00303a;
}

#soundboard-link:hover {
  letter-spacing: 2px;
}

.hov:hover {
  letter-spacing: 2px;
  color: #00303a;
  font-weight: 400;
}
.active {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.logo {
  font-size: 32px;
  font-weight: 400;
}

#contact {
  padding-top: 5em;
  margin-top: 10em;
}

#contact p {
  text-align: center;
  font-weight: 300;
  background-color: #e2eaeb;
  padding-top: 7em;
  padding-bottom: 7em;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #00303a;
}
.mail {
  text-decoration: none;
  color: #00303a;
}

.mail:hover {
  font-weight: 200;
}

.w {
  transition: 0.3s;
}

a {
  color: #00303a;
  transition: 0.5s;
}

.link {
  text-align: right;
  font-size: 10px;
}

a:hover {
  color: #00303a;
}

@media (min-width: 1400px) {
  p {
    padding-left: 8em;
  }
  .title {
    font-size: 48px;
  }
  #soundboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  img {
    width: 28em;
  }
}
@media (min-width: 1200px) {
  p {
    padding-left: 7em;
  }
  img {
    width: 24em;
  }
  .title {
    font-size: 32px;
  }
  #soundboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  #soundboard {
    margin-top: 10em;
  }
  #logo {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  p {
    padding-left: 6em;
  }
  .title {
    font-size: 28px;
  }
  #soundboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  img {
    width: 21em;
    height: 12em;
  }
}
@media (min-width: 768px) {
  #link-break {
    display: none;
  }
  p {
    padding-left: 5em;
  }
  .title {
    font-size: 28px;
  }
  img {
    width: 21em;
    height: 12em;
  }
  #soundboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
@media (max-width: 576px) {
  p {
    padding-left: 4em;
    padding-top: 4em;
    text-align: right;
    font-size: 12px;
  }
  #logo {
    font-size: 14px;
  }

  img {
    width: 21em;
    height: 12em;
    margin-top: 5em;
  }
  .title {
    font-size: 24px;
  }
}

@media (min-width: 320px) {
  img {
    width: 260px;
    height: 9em;
  }
  #logo {
    font-size: 21px;
    font-weight: 400;
  }
}
@media (min-width: 280px) {
  img {
    width: 260px;
    height: 9em;
  }
  #logo {
    font-size: 21px;
    font-weight: 400;
}
}

#soundboard {
  padding-top: 5em;
}

