.container-fluid {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  height: 2.5em;
}

.active {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.hero h1,
p {
  font-family: "Montserrat", sans-serif;
  color: #00303a;
  text-align: right;
}

.hero p {
  font-weight: 300;
  margin-right: 6em;
  font-size: 32px;
}

.hero h1 {
  margin-top: 1.5em;
  margin-right: 2em;
  font-size: 96px;
}
