.container-fluid {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  padding-top: 1em;
  padding-bottom: 1em;
}

.hov {
  transition: 0.3s;
}

.hov:hover {
  letter-spacing: 2px;
  color: #00303a;
  font-weight: 400;
}
.active {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.hero h1 {
  font-family: "Montserrat", sans-serif;
  color: #00303a;
  text-align: right;
}

.hero p {
  font-family: "Montserrat", sans-serif;
  color: #00303a;
  text-align: right;
}

.logo {
  font-size: 32px;
  font-weight: 400;
}
.hero {
  background-color: #e2eaeb;
  height: 40em;
}
.workpage button {
  font-family: "Montserrat", sans-serif;
  border: 0;
  height: 15em;
  width: 15em;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 32px;
  font-weight: 300;
}
.past {
  color: #00303a;
  opacity: 80%;
  background-image: url(https://images.unsplash.com/photo-1533085281462-6ae8d2c36017?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFsZSUyMHNreXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
}
.future {
  color: #e2e2e2;
  background-image: url(https://images.squarespace-cdn.com/content/v1/59f203df2278e72409c89f0b/1570210795981-XCUE0GDOGXRU8E1DQLXO/ke17ZwdGBToddI8pDm48kHH9S2ID7_bpupQnTdrPcoF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0nQwvinDXPV4EYh2MRzm-RRB5rUELEv7EY2n0AZOrEupxpSyqbqKSgmzcCPWV5WMiQ/image-asset.jpeg?format=2500w);
}
@media (min-width: 1400px) {
  h1 {
    font-size: 96px;
    margin-top: 1em;
    margin-right: 1em;
  }
  .hero p {
    margin-right: 3em;
    font-size: 32px;
  }
  #contact {
    font-size: 32px;
  }
}

.bg-special {
  background-image: url(https://acegif.com/wp-content/gifs/starfall-gif-70.gif);
}

.bg-special p {
  color: #e2eaeb;
}

.bg-special h1 {
  color: #e2eaeb;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 88px;
    margin-top: 1.5em;
    margin-right: 1em;
  }
  .hero p {
    margin-right: 3.5em;
    font-size: 24px;
  }
  #contact {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 88px;
    margin-top: 1.5em;
    margin-right: 1em;
  }
  .hero p {
    margin-right: 3.5em;
    font-size: 24px;
  }
  #contact {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    margin-top: 2em;
    margin-right: 1em;
  }
  .hero p {
    margin-right: 3em;
    font-size: 24px;
  }
  #contact {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
    margin-top: 5em;
    margin-right: 1em;
  }
  .hero p {
    margin-right: 3em;
    font-size: 14px;
  }
  .logo {
    font-size: 24px;
    font-weight: 400;
  }
  #contact {
    font-size: 14px;
  }
}

#contact p {
  text-align: center;
  font-weight: 300;
  background-color: #e2eaeb;
  padding-top: 5em;
  padding-bottom: 5em;
    font-family: "Montserrat", sans-serif;
}
.mail {
  text-decoration: none;
  color: #00303a;
}

.mail:hover {
  font-weight: 200;
}

.w {
  transition: 0.3s;
}

.past:hover {
  letter-spacing: 2px;
}

.future:hover {
  letter-spacing: 1px;
}

#abt {
  font-family: "Montserrat", sans-serif;
  color: #00303a;
}
